{% extends 'base.html' %}

{% block title %}{{ category|title }} Services{% endblock %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% block content %}
<h2>{{ category|title }} Services</h2>
<ul>
    {% for service in services %}
    <li>
        <h3>{{ service.name }}</h3>
        <p>{{ service.description }}</p>
        <p>Price: ${{ service.price }}</p>
        <a class="btn" href="{% url 'book_service' service.id %}">BOOK NOW</a>
    </li>
    {% empty %}
    <p>No services available for this category.</p>
    {% endfor %}
</ul>
{% endblock %}